/* Add styles for the logo in print-only section */
.invoice-logo {
  position: absolute;
  top: 20px; /* Adjust top position as needed */
  right: 20px; /* Adjust right position as needed */
  width: 100px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
}

/* General Styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #212529;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensure relative positioning for absolute child */
}

h2,
h3 {
  text-align: center;
  color: #343a40;
}

p {
  margin: 0;
  padding: 5px 0;
  color: #495057;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #495057;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 5px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  padding: 12px;
  border: 1px solid #dee2e6;
  text-align: left;
}

th {
  background-color: #e9ecef;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  padding: 0;
  margin: 0 5px;
  font-size: 18px;
}

button:hover {
  color: #0056b3;
}

.no-print {
  display: block;
}

.print-only {
  display: none;
}

@media print {
  .no-print {
    display: none;
  }
  .print-only {
    display: block;
  }
}
